body{
	color: black;
	margin-left: 60px;
	margin-right: 60px;
	font-size: 15px;
}


form{
	padding: 30px;
}

.bold{
	font-weight: bold;
}


.attributes_in{
	width: 100%;
}

.form_center {
  display: flex;
}

.form_left{
	display: flex;
	justify-content: center;
  
  flex-wrap: wrap;
}

fieldset{
	background-color: rgba(179, 179, 179, 0.521);
  color: black;
  word-spacing: 10px;
}

fieldset span{
  font-weight: bold;
  padding-left: 30px;
}

fieldset h1{
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  text-align: left;
  margin: 0px;
}

fieldset .normal_form{
  font-size: 20px;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: bold;
}


fieldset .find_closure{
  padding: 30px;
}

.option {
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

label {
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  text-align: center;
  max-width: 175px;
}